{% extends "template.html" %}

{% block title %}
Comparison
{% endblock %}

{% block header %}
<h3>Compare 2 Github Projects</h3>
{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <!-- Form used to select 2 projects to compare-->
        <form method="POST" id="compare" name="compare" class="d-flex align-items-center">
            <!-- Dropdown Form 1-->
            <div class="col-md-6 me-3">
                <label for="dropdown1" class="form-label">Select Project 1</label>
                <select class="form-select" id="dropdown1" name="project_1">
                    <!-- Cycles through repositores and displayes names of projects as selectable option -->
                    {% for index, repo in repos.iterrows() %}
                        <option value="{{ repo['id'] }}">{{ repo['name'] }}</option>
                    {% endfor %}
                </select>
            </div> 

            <!-- Dropdown Form 2-->
            <div class="col-md-6 me-3">
                <label for="dropdown2" class="form-label">Select Project 2</label>
                <select class="form-select" id="dropdown2" name="project_2">
                    <!-- Cycles through repositores and displayes names of projects as selectable option -->
                    {% for index, repo in repos.iterrows() %}
                        <option value="{{ repo['id'] }}">{{ repo['name'] }}</option>
                    {% endfor %}
                </select>
            </div>

        </form>
    </div>
    <!-- Comapre Button to Submit the form -->
    <div class="row">
        <div class="d-grid gap-2 col-2 mx-auto my-2">
            <button type="submit" form="compare">Compare</button>
        </div>
    </div> 
</div>

<div class="container my-4">
    <div class="row">
        {{bar_graph|safe}}
    </div>
    <div class="row">
        <!-- First Column -->
        <div class="col-md-6">
            <!-- Graphs for Project 1 -->
            <h3>{{project_1_title}}</h3>
            {{pie_chart_1|safe}}
            {{histogram_1|safe}}  
        </div>
        <!-- Second Column -->
        <div class="col-md-6">
            <!-- Graphs for Project 2 -->
            <h3>{{project_2_title}}</h3>
            {{pie_chart_2|safe}}
            {{histogram_2|safe}}
        </div>
    </div>
  </div>
{% endblock %}