{% extends "template.html" %}

{% block title %}
Index
{% endblock %}

{% block header %}
    <h3>A site to display GitHub metric data</h3>
{% endblock %}

{% block content %}
    <h4 style="text-align: left;">Visualize, Analyze & Compare GitHub Project Metrics with Ease!</h4>
    <p style="text-align: left; text-indent: 2vmin;" >Discover in-depth insights into GitHub repository metrics. 
    Track trends, analyze performance, and compare repositories side by side for better project understanding.</p>

    <h4 style="text-align: left;">Graphical insights</h4>
    <p style="text-align: left; text-indent: 2vmin;">See interactive charts for a quick understading of metrics 
    linked to a specific project</p>

    <h4 style="text-align: left;">Project Comparison</h4>
    <p style="text-align: left; text-indent: 2vmin;">Gain detailed insights on the differences between the projects</p>
    
    <h4 style="text-align: left;">Up-to-Date Metrics</h4>
    <p style="text-align: left; text-indent: 2vmin;">The project metrics are pulled directly from a database using SQL statements</p>
    
    <h4 style="text-align: left;">Simple Guide</h4>
    <!-- List -->
    <ol style="text-align: left; text-indent: 2vmin;">
        <li>Select either GitHub Metrics or Comparisons</li>
        <li>Choose the project you want to viewport</li>
        <li>Metrics Displayed in graphical format</li>
        <ul>
            <li>You can also choose the type of data you want to display using the filter options</li>
        </ul>
    </ol>

{% endblock %}