{% extends "template.html" %}

{% block title %}
Github Metrics
{% endblock %}

{% block header %}
<h3>GitHub Metric Data Visualisation</h3>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Search Box -->
    <div class="row mb-3">
        <div class="col-auto">
            <div class="input-group">
                <input type="text" class="form-control" id="search-input" placeholder="Search...">
                <button class="btn btn-dark hover-button" id="search-button">Search</button>
            </div>
        </div>
    </div>

    <!--Buttons-->
    <div class = "git-button">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="placeholder"></div>
                </div>

                <div class="col">
                    <h2>Project Name:</h2>
                    <h4>Owner:</h4>
                    <div class="description">
                        <p>description of the thingof the thingof the thingof the thingof the thingof the thingof the thing <br>readme.MD goes here</p>
                    </div>
                </div>

                <div class="col">
                    <p>
                        Date Created: <br>
                        Commits: <br>
                        Last Commit: <br>
                        Branches: <br>
                        Contibutors: <br>
                        Lines of Code:
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class = "git-button">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="placeholder"></div>
                </div>

                <div class="col">
                    <h2>Project Name:</h2>
                    <h4>Owner:</h4>
                    <div class="description">
                        <p>description of the thingof the thingof the thingof the thingof the thingof the thingof the thing <br>readme.MD goes here</p>
                    </div>
                </div>

                <div class="col">
                    <p>
                        Date Created: <br>
                        Commits: <br>
                        Last Commit: <br>
                        Branches: <br>
                        Contibutors: <br>
                        Lines of Code:
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class = "git-button">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="placeholder"></div>
                </div>

                <div class="col">
                    <h2>Project Name:</h2>
                    <h4>Owner:</h4>
                    <div class="description">
                        <p>description of the thingof the thingof the thingof the thingof the thingof the thingof the thing <br>readme.MD goes here</p>
                    </div>
                </div>

                <div class="col">
                    <p>
                        Date Created: <br>
                        Commits: <br>
                        Last Commit: <br>
                        Branches: <br>
                        Contibutors: <br>
                        Lines of Code:
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class = "git-button">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="placeholder"></div>
                </div>

                <div class="col">
                    <h2>Project Name:</h2>
                    <h4>Owner:</h4>
                    <div class="description">
                        <p>description of the thingof the thingof the thingof the thingof the thingof the thingof the thing <br>readme.MD goes here</p>
                    </div>
                </div>

                <div class="col">
                    <p>
                        Date Created: <br>
                        Commits: <br>
                        Last Commit: <br>
                        Branches: <br>
                        Contibutors: <br>
                        Lines of Code:
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}